/* assets/css/custom.css */
h1 {
    font-size: 24px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
p {  /* Targets all paragraphs within blog posts */
    font-size: 16px;
  }

/* assets/css/custom.css */
.katex .base {
    font-size: 0.8em; /* Increase base font size by 20% */
  }
  
  .katex .display { /* Target display mode math specifically */
    font-size: 0.8em; /* Increase font size further for display math */
  }