/* assets/css/custom.css */
h1 {
    font-size: 24px !important;
}
h2 {
    font-size: 22px !important;
}
h3 {
    font-size: 20px !important;
}
p { 
    font-size: 16px !important;
  }

/* assets/css/custom.css */
.katex .base {
    font-size: 1em; /* Increase base font size by 20% */
  }
  
  .katex .display { /* Target display mode math specifically */
    font-size: 0.8em; /* Increase font size further for display math */
  }