/* assets/css/custom.css */
h1 {
    font-size: 28px !important;
}
h2 {
    font-size: 24px !important;
}
h3 {
    font-size: 20px !important;
}
p { 
    font-size: 16px !important;
  }

/* assets/css/custom.css */
.katex {
    font-size: 16px; /* Increase base font size by 20% */
  }
  
.katex-display { /* Target display mode math specifically */
font-size: 18px; /* Increase font size further for display math */
}

li p { /* Targets all <p> tags within any <li> */
    font-size: 16px !important;
}
  
ul li p { /* Targets <p> tags within <li> within <ul> only */
    font-size: 16px !important;
}
  
ol li p { /* Targets <p> tags within <li> within <ol> only */
    font-size: 16px !important;
}

.prose {
    max-width: 160ch;
  }